#header{
    background-color:coral;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: "Hubballi", serif;
}
#nameAndTitle{
    background-color: white;
    width: 507px;
    margin: 0px auto;
    text-align: center;
}
#nameAndTitle h1,h2 {
    margin: 0px;
}
h1,h2,h3{
    text-transform: uppercase;
}
#contact{
    list-style-type: none;
}
#contact i {
    width: 30px;
    color: coral;
}
#container{
    display: grid;
    grid-template-columns: 30% auto;
    grid-column-gap: 20px;
}
#sidebar, #content{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.card h3{
    font-family: "Hubballi", serif;
}
.card{
    font-family: "Montserrat", serif;
    border: 2px solid #eaeaea;
    border-radius: 15px;
    padding: 2%;
    background-color: grey;
}
#imagem{
    text-align: center;
}